body {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	color: white;
	background: #1E1E20;
	text-align: center;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    

}
button:focus {outline:0;}



.home_button {
	-moz-box-shadow: 0px 16px 0px 0px #3dc21b;
	-webkit-box-shadow: 0px 16px 0px 0px #3dc21b;
	box-shadow: 0px 16px 0px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 3px 3px #2f6627;
}
.home_button:hover {
	background-color:#5cbf2a;
}
.home_button:active {
	position:relative;
	top:1px;
}

.buttonGreen {
	-moz-box-shadow: 0px 6px 0px 0px #379c1d;
	-webkit-box-shadow: 0px 6px 0px 0px #379c1d;
	box-shadow: 0px 6px 0px 0px #379c1d;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.buttonGreen:hover {
	background-color:#5cbf2a;
}
.buttonGreen:active {
	position:relative;
	top:1px;
}
.buttonGrey {
	-moz-box-shadow: 0px 6px 0px 0px #575357;
	-webkit-box-shadow: 0px 6px 0px 0px #575357;
	box-shadow: 0px 6px 0px 0px #575357;
	background-color:#c7c3c7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #5c5c5c;
	display:inline-block;
	cursor:pointer;
	color:#333233;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fffcff;
}
.buttonGrey:hover {
	background-color:#a3a3a3;
}
.buttonGrey:active {
	position:relative;
	top:1px;
}
.buttonRed {
	-moz-box-shadow: 0px 6px 0px 0px #c21b1b;
	-webkit-box-shadow: 0px 6px 0px 0px #c21b1b;
	box-shadow: 0px 6px 0px 0px #c21b1b;
	background-color:#c74545;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #662828;
}
.buttonRed:hover {
	background-color:#bd2a2a;
}
.buttonRed:active {
	position:relative;
	top:1px;
}
.buttonBlue {
	-moz-box-shadow: 0px 6px 0px 0px #0d5aa3;
	-webkit-box-shadow: 0px 6px 0px 0px #0d5aa3;
	box-shadow: 0px 6px 0px 0px #0d5aa3;
	background-color:#73b6fa;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;

}
.buttonBlue:hover {
	background-color:#378de5;
}
.buttonBlue:active {
	position:relative;
	top:1px;
}

.labelBlue {
	-moz-box-shadow: 0px 6px 0px 0px #0d5aa3;
	-webkit-box-shadow: 0px 6px 0px 0px #0d5aa3;
	box-shadow: 0px 6px 0px 0px #0d5aa3;

	background-color:#73b6fa;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #84bbf3;
	display:inline-block;
	width: 125px;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;

}


input[type=range].range {
  -webkit-appearance: none;
  width: 170px;
  margin: 6.95px 0;
}
input[type=range].range:focus {
  outline: none;
}
input[type=range].range::-webkit-slider-runnable-track {
  width: 200px;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 1.8px 1.8px 1px #000000, 0px 0px 1.8px #0d0d0d;
  background: #3dc21b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].range::-webkit-slider-thumb {
  box-shadow: 2.7px 2.7px 0.4px #000000, 0px 0px 2.7px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 17px;
  width: 35px;
  border-radius: 11px;
  background: #fffeff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.95px;
}
input[type=range].range:focus::-webkit-slider-runnable-track {
  background: #40cb1c;
}
input[type=range].range::-moz-range-track {
  width: 200px;
  height: 3.1px;
  cursor: pointer;
  box-shadow: 1.8px 1.8px 1px #000000, 0px 0px 1.8px #0d0d0d;
  background: #3dc21b;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range].range::-moz-range-thumb {
  box-shadow: 2.7px 2.7px 0.4px #000000, 0px 0px 2.7px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 17px;
  width: 35px;
  border-radius: 11px;
  background: #fffeff;
  cursor: pointer;
}
input[type=range].range::-ms-track {
  width: 200px;
  height: 3.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].range::-ms-fill-lower {
  background: #3ab91a;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 1.8px 1.8px 1px #000000, 0px 0px 1.8px #0d0d0d;
}
input[type=range].range::-ms-fill-upper {
  background: #3dc21b;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 1.8px 1.8px 1px #000000, 0px 0px 1.8px #0d0d0d;
}
input[type=range].range::-ms-thumb {
  box-shadow: 2.7px 2.7px 0.4px #000000, 0px 0px 2.7px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 17px;
  width: 35px;
  border-radius: 11px;
  background: #fffeff;
  cursor: pointer;
  height: 3.1px;
}
input[type=range].range:focus::-ms-fill-lower {
  background: #3dc21b;
}
input[type=range].range:focus::-ms-fill-upper {
  background: #40cb1c;
}
.datagrid table {
	border-collapse: collapse; 
	text-align: center; 
	width: 100%; 
} 
.datagrid {
 font: normal 12px/150% Arial, Helvetica, sans-serif; 
 background: #A9A9A9; 
 overflow: hidden; 
 }
 .datagrid table td, .datagrid table th { 
 	padding: 12px 10px; 
}
.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7D7D7D), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #7D7D7D 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D', endColorstr='#7D7D7D');
	background-color:#6C6C6C; 
	color:#000000; 
	font-size: 16px; 
	font-weight: bold; 
	border-left: 0px solid #A3A3A3; 
} 
.datagrid table thead th:first-child {
	border: none; 
}
.datagrid table tbody td { 
	color: #000000; font-size: 15px;
	border-bottom: 1px solid #CDD8DE;
	font-weight: normal; 
}
.datagrid table tbody td:first-child {
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}











