body {
    font-family: Monaco,'Roboto Mono', monospace;
	font-size: 12px;
	color: white;
	background: #5b5b5b;
	text-align: center;
    -ms-touch-action: manipulation !important;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Not implemented yet */
    -o-user-select: none;
    user-select: none;    

}

.buttonBlue {
    -moz-box-shadow: 0px 6px 0px 0px #0d5aa3;
    -webkit-box-shadow: 0px 6px 0px 0px #0d5aa3;
    box-shadow: 0px 6px 0px 0px #0d5aa3;
    background-color:#73b6fa;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    outline:0;

}
.buttonBlue:hover {
    background-color:#378de5;
}
.buttonBlue:active {
    position:relative;
    top:1px;
}
a{
    font-size: 12px;
    color: white;   
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

